


.container {
  margin: 15px;
  align-items: center;

}

#search_bar{
  background-color: #000000;
  width: 85vw;
  margin-left: 5vw;
  text-align:center;
}

#search_bar input{
  height:50px;
  border:2px solid #26b734;
  background-color: #f6fffc;;
  color: #f6fffc;
  cursor:pointer;
  transition:all .3s;
  text-align: center;
  margin-bottom: 2vh;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 2.5vh;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;


}
#search_bar input:hover{
  background-color: #cb83c2;
  border: 3px solid #cb83c2;
}

#search_header
{
  text-align: center;
  margin-bottom: 1vh;
  margin-top: 2vh;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 5vh;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  padding-top:  2vh;
  padding-bottom:  2vh;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;

}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 110%;
  justify-content: space-between;
  margin: 5vw;


}

.column {
  display: flex;
  flex-direction: column;
  flex: 0 32%;
  border: 5px solid black;
  margin-bottom: 2%; /* (100-32*3)/2 */
  height: 92vh;
}

img {
  height: 100%;
  width: 100%;
  object-fit: fill

}
#post_picture
{
  height: 35vh;
  background-color: black;

}


#post_title
{
  min-height: 20vh;
  background-color: #17b50c;
  border-top: 5px solid black ;
  border-bottom: 5px solid black ;

}

#post_title h2
{
  text-align: center;
  margin-bottom: 1vh;
  margin-top: 2vh;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 5vh;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;

}


#post_description
{
  min-height: 20vh;
  background-color: white;

}

#post_description p
{
  text-align: center;
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 3vh;
  color: #020002;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  text-align: center;
}


#post_footprint
{
  height: 7vh;
  background-color: #69ef7b;
  border-top: 5px solid black ;
  border-bottom: 5px solid black ;

}

#post_footprint p
{
  text-align: center;
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 2.5vh;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  text-align: center;
}


#post_price
{
  height: 7vh;
  background-color: #f9e11b;
  border-bottom: 5px solid black ;

}

#post_price p
{
  text-align: center;
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 2.5vh;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  text-align: center;
}



#expand {
  background-color: #000000;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
}

#expand:hover {
  background-color: rgba(20, 24, 30, 0.56);
}


#expand h5 {
  text-align: center;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 3vh;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

a:link {
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 640px) {

  .column {
    flex-basis: 80%;
    margin-bottom:5vh ;
    height: 93vh;
  }

  #search_bar{


    width: 81vw;

  }


}

