

<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.1/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.3.5/justgage.js"></script>




<form>
<section>
  <div class="form-div" id ="left-form">
      <ul>
        <li>
          <label for="post-title">What Food Are you Saving ?</label>
          <input id="post-title" (keyup)="updateTitle($event)" autocomplete="off">
        </li>


        <li>
          <label for="post-description">Description of Food</label>
          <input id="post-description" (keyup)="updateDescription($event)" autocomplete="off">
        </li>

      <li>
        <input id="file" type="file" (change)="updatePicture()"/>
      </li>

        <li>
          <div id="profile_info"*ngIf="auth.userProfile$ | async as profile">
            <button (click)="SavePost(profile.sub)">Make Post</button>
          </div>
        </li>
      </ul>


  </div>


  <div class="form-div" id ="middle-form">
    <ul>
      <li>
          <label for="Ingredients">Please Choose the Ingredients in your Food </label>
          <input id="Ingredients" name="Ingredients" [(ngModel)]="ingredientSearch" autocomplete="off">
      </li>

      <div id="hello" *ngIf="getIngredientSearch() | async as ingredients">
        <ul id="bulk">
        <div id = "list" *ngFor="let ingredient of ingredients">
            <li (click)="InsertIngredient(ingredient.food_name, ingredient.food_cf)">{{ ingredient.food_name }} </li>
        </div>
        </ul>
      </div>
    </ul>
  </div>




  <div class="form-div" id ="right-form">

    <table id = "Chosen_InIngredients">
      <tr>
        <th>Company</th>
        <th>Carbon Footprint</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    <span id="val"></span>
    <rg-gauge-chart
      [canvasWidth]="canvasWidth"
      [needleValue]="needleValue"
      [centralLabel]="centralLabel"
      [options]="options"
      [name]="name"
      [bottomLabel]="bottomLabel"></rg-gauge-chart>
  </div>
</section>
</form>

<p id = base64></p>


<!--<form class="form">
  <h2>New Post</h2>
  <label for="post-title">Title</label>
  <label for="post-title"></label>
  <input id="post-title" (keyup)="updateTitle($event)" autocomplete="off">
  <label for="post-description">Description</label>
  <input id="post-description" (keyup)="updateDescription($event)" autocomplete="off">
  <input id="file" type="file" (change)="updatePicture()"/>
</form>
<p id = base64></p>


<div id="profile_info"*ngIf="auth.userProfile$ | async as profile">
<button (click)="SavePost(profile.sub)">Make Post</button>
</div>-->




