body{
  background:#59ABE3;
  margin:0
}

p:before{
  content:attr(type);
  display:none;

}
button{
  height:50px;
  margin-bottom:140px;
  margin-left:680px;
  font-family:'Montserrat',sans-serif;
  border:2px solid #000000;
  background:0;
  color: #000000;
  cursor:pointer;
  transition:all .3s
}
button:hover{
  background: #20ee43;
  color: #000000;
}



section {
  display: flex;
  width: 98%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.form-div {
  margin: 6px;
  height: 98%;
  flex-grow: 1;
  border: 2px solid black;
  flex-direction: column;
}

#left-form{
  width:120px;
}

#middle-form{
  width:120px;
}

#right-form{
  width:120px;
}


#left-form > ul{
  display: block;
  list-style-type: none;
  text-align: center;


}

#left-form > li{
  margin-top :20px;


}



#left-form li >input{
  margin-top : 4px;
  margin-bottom : 30px;
  background-color: #6eff68;
}

#left-form li >label{
  margin-top :5px;
  font-size: 30px;

}

#middle-form li >input{
  margin-top : 4px;
  margin-bottom : 30px;
  background-color: #6eff68;
}

#middle-form li >label{
  margin-top :5px;
  font-size: 30px;

}

#middle-form > ul{
  display: block;
  list-style-type: none;
  text-align: center;


}

#middle-form > li{
  margin-top :20px;


}

#bulk {
  height: 200px;
  border: 1px solid;
}
#bulk > li {
  background: red;
  margin: 10px;
}
