body{
  background:#59ABE3;
  margin:0
}

p:before{
  content:attr(type);
  display:none;

}
button{

}
button:hover{

}



section {
  display: flex;
  width: 98%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.form-div {
  margin: 6px;
  height: 98%;
  flex-grow: 1;
  border: 2px solid black;
  flex-direction: column;
}

#left-form{
  width:120px;
}

#middle-form{
  width:120px;
}

#right-form{
  width:120px;
}


#left-form > ul{
  display: block;
  list-style-type: none;
  text-align: center;


}

#left-form > li{
  margin-top :20px;


}



#left-form li >input{
  margin-top : 4px;
  margin-bottom : 30px;
  background-color: #6eff68;
}

#left-form li >label{
  margin-top :5px;
  font-size: 30px;

}

#middle-form li >input{
  margin-top : 4px;
  margin-bottom : 30px;
  background-color: #6eff68;
}

#middle-form li >label{
  margin-top :5px;
  font-size: 30px;

}

#middle-form > ul{
  display: block;
  list-style-type: none;
  text-align: center;


}

#middle-form > li{
  margin-top :20px;


}





#bulk > #list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 200px; /* Fix a max-height here */
  overflow: auto;
}


#bulk > #list li {
  font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
  border: 1px solid #020002;
  text-decoration: none;
  color: #020002;
  display: block;
  width: 300px;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;

}

#bulk >li:last-child {

}

#bulk >  #list li:hover {
  font-size: 30px;
  background: #4cff39;
}

#hello {
  max-height:405px;/*The important part*/
  overflow-y:auto;/*Also...*/
  overflow-x:hidden;/*And the end of the important part*/
}


#gauge1-txt {
  font-weight: bold;
  font-size:80%;
  display: block;
  text-align: center;
}

#foo {
  width: 100%;
  height: 100%;
}


#base64{
  display: none;
}


mat-dialog-container#modal-component {
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #1a1a1a;
}

#logout-button {
  color: white;
  background-color: #4b4b4b;
  border: 1px solid black;
}
