





<form>
<section>
  <div class="form-div" id ="left-form">
      <ul>
        <li>
          <label for="post-title">What Food Are you Saving ?</label>
          <input id="post-title" (keyup)="updateTitle($event)" autocomplete="off">
        </li>


        <li>
          <label for="post-description">Description of Food</label>
          <input id="post-description" (keyup)="updateDescription($event)" autocomplete="off">
        </li>

      <li>
        <input id="file" type="file" (change)="updatePicture()"/>
      </li>

        <li>
          <div id="profile_info"*ngIf="auth.userProfile$ | async as profile">
            <button (click)="SavePost(profile.sub)">Make Post</button>
          </div>
        </li>
      </ul>


  </div>


  <div class="form-div" id ="middle-form">Column 2
    <ul>
      <li>
        <div id="food_info"*ngIf="foods$ | async as foods ">


          <label for="Ingred">Ingred</label>
          <input id="Ingred" name="Ingred" [(ngModel)]="ingredientSearch" autocomplete="off">
        </div>
      </li>
    </ul>
  </div>




  <div class="form-div" id ="right-form">Column 3
   Value is {{ getIngredientSearch() | async | json }}
  </div>
</section>
</form>



<!--<form class="form">
  <h2>New Post</h2>
  <label for="post-title">Title</label>
  <label for="post-title"></label>
  <input id="post-title" (keyup)="updateTitle($event)" autocomplete="off">
  <label for="post-description">Description</label>
  <input id="post-description" (keyup)="updateDescription($event)" autocomplete="off">
  <input id="file" type="file" (change)="updatePicture()"/>
</form>
<p id = base64></p>


<div id="profile_info"*ngIf="auth.userProfile$ | async as profile">
<button (click)="SavePost(profile.sub)">Make Post</button>
</div>-->




