

<form class="form">
  <h2>New Post</h2>
  <label for="post-title">Title</label>
  <label for="post-title"></label>
  <input id="post-title" (keyup)="updateTitle($event)" autocomplete="off">
  <label for="post-description">Description</label>
  <input id="post-description" (keyup)="updateDescription($event)" autocomplete="off">


  <input id="file" type="file" (change)="updatePicture()"/>
</form>
<p id = base64></p>


<div id="profile_info"*ngIf="auth.userProfile$ | async as profile">
<button (click)="SavePost(profile.sub)">Make Post</button>
</div>


