#User_container{
  text-align: center;
}


#Business_container{
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  margin: 5vw;


}

.column {
  display: flex;
  flex-direction: column;
  flex: 0 48%;
  border: 5px solid black;
  margin-bottom: 2%; /* (100-32*3)/2 */
  height: 90vh;
  transition:all 0.3s ease;
  background-color: white;
}



.column:hover {
  display: flex;
  flex-direction: column;
  flex: 0 48%;
  margin-bottom: 2%; /* (100-32*3)/2 */
  height: 90vh;
  background-color: #ffffff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition:all 0.3s ease;


}

.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  margin: 5vw;
  height: 197.5vh;


}

.column2 {
  display: flex;
  flex-direction: column;
  flex: 0 100%;
  border: 5px solid black;
  margin-bottom: 2%; /* (100-32*3)/2 */
  height: 198.5vh;
  transition:all 0.3s ease;
  background-color: white;
}

.award_heading {
  background-color: #030303;
  transition:all 0.3s ease;
}

.award_heading p {
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 5vh;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  padding: 4vh;

}


.animated-1 {
  -webkit-animation: .2s ease-in-out 0.2s both;
}

.animated-2 {
  -webkit-animation: .1s ease-in-out 0.3s both;
}

.animated-3 {
  -webkit-animation: .1s ease-in-out .35s both;
}

.animated-4 {
  -webkit-animation: .1s ease-in-out .4s both;
}

.animated-5 {
  -webkit-animation: .1s ease-in-out .45s both;
}

.animated-6 {
  -webkit-animation: .1s ease-in-out .5s both;
}

.animated-7 {
  -webkit-animation: .1s ease-in-out .54s both;
}

.animated-8 {
  -webkit-animation: .1s ease-in-out .57s both;
}

.animated-9 {
  -webkit-animation: .1s ease-in-out .6s both;
}

.animated-10 {
  -webkit-animation: .1s ease-in-out .63s both;
}

.animated-11 {
  -webkit-animation: .3s ease-in-out .85s both;
}

.animated-12 {
  -webkit-animation: 1.5s ease-in-out 1.2s both;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 7;
    -webkit-transition-timing-function: cubic-bezier(.58, .05, .63, 1.27);
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}




.heading p {
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 3vh;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  padding: 4vh;

}

.heading h1 {
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 3vh;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  padding: 4vh;
  padding-bottom: 7vh;

}


.greeting{
  background-color: #87CEEB;
  width: 89.5vw;
  margin-left: 5vw;
  text-align:center;
  height: 25vh;
}

.greeting p{
  height:50px;
  color: #f6fffc;
  cursor:pointer;
  transition:all .3s;
  text-align: center;
  margin-bottom: 3vh;
  margin-top: 3vh;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 10vh;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}


#user
{

}

#user p
{
  text-align: center;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 3vh;
  color: #030303;
  padding: 1vh;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  margin :0;
}

#business p
{
  text-align: center;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 3vh;
  color: #030303;
  padding: 1vh;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  margin :0;
}

#stats p
{
  text-align: center;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 3vh;
  color: #030303;
  padding: 1vh;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  margin :0;
}

#bis_stats p
{
  text-align: center;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 3vh;
  color: #030303;
  padding: 1vh;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  margin :0;
}
.grass {

  width: 100%;
  height: 8rem;
  overflow: hidden;
  /*     opacity:0; */
}

.blade {
  height: 6rem;
  width: 1rem;
  /*   background-image: url("https://www.transparenttextures.com/patterns/cardboard.png"); */
  background-size: 300px 300px;
  background-color: #00e676;
  border-radius: 100% 0 50% 0;
  float: left;
  transform-origin: 50% 100%;
  margin-top: 2rem;
  margin-left: -0.5rem;
  /*   box-shadow: rgba(0,0,0, 0.25) 0.25rem 1rem 0.25rem; */
}

.blade:nth-of-type(2n) {
  width: 0.75rem;
  transform: rotate(10deg);
  height: 5rem;
  margin-top: 3rem;
}

.blade:nth-of-type(3n) {
  background-color: #00c853;
  border-radius: 0 100% 0 50%;
  height: 7rem;
  margin-top: 1rem;
  /*   transform: rotate(-10deg); */
}

.blade:nth-of-type(4n) {
  border-radius: 0 100% 0 50%;
  transform: rotate(-8deg);
}

.blade:nth-of-type(5n) {
  transform: rotate(4deg);
  border-radius: 0 100% 0 50%;

}

.blade:nth-of-type(6n) {
}

.blade:nth-of-type(7n) {
  background-color: #81c784;
  border-radius: 100% 0 50% 0;
  animation: wind-seven 7s ease alternate infinite;

}

.blade:nth-of-type(8n) {
}

.blade:nth-of-type(9n) {
  background-color: #4caf50;
  animation: wind-three 7s ease alternate infinite;
}

.blade:nth-of-type(13n) {
  background-color: #66bb6a;
  height: 7.5rem;
  margin-top: 0.5rem;

}

.blade:nth-of-type(16n) {
  width: 0.5rem;
  transform: rotate(-5deg);
  height: 8rem;
  margin-top: 0;
  animation: wind-five 7s ease alternate infinite;
}

.blade:nth-of-type(24n) {
  transform: rotate(12deg);
  height: 7.5rem;
  margin-top: 1px;

}
.heading {
  background-color: black;
}



.heading p {
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 3vh;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  padding: 4vh;

}


#new_image
{

  height: 20vh;
  width: 20vw;
  margin-top: 3vh;
  margin-left: 10vw;
}

#recycle_image
{

  height: 22vh;
  width: 22vw;
  margin-top: 4vh;
  margin-left: 10vw;
}


@media only screen and (max-width: 640px) {


  .column {
    flex-basis: 100%;
    height: 70vh;
    margin-bottom: 2%; /* (100-32*3)/2 */

  }


  #new_image
  {

    height: 45vh;
    width: 45vw;
    margin-top: 3vh;
    margin-left: 20vw;
  }

  #recycle_image
  {

    height: 42vh;
    width: 42vw;
    margin-top: 4vh;
    margin-left: 22vw;
  }



}




.userImg {
  border-radius: 100px;
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}





#User_container{
  display: none;
}

#Business_container{
  display: none;
}







.SignUpHeading  h1 {
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 4vh;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  padding: 5vh;

}


.SignUpHeading{
  background-color: black;
}




/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: table;
  width: 40%;

}

/* Add styles to the form container */
.form-container {
  width:440px;
  height:740px;
  background:#e6e6e6;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;font-family:'Montserrat',sans-serif;
  position:relative;
  autocomplete:"off";}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

#ifBusiness, #ifUser { display: none;}
#yesBusiness:checked ~ #ifBusiness {display: block;}
#yesUser:checked ~ #ifUser{display: block;}

#test{

padding-left: 200px;
  padding-top: 50px;
}


#test2{

  padding-left: 200px;
  padding-top: 50px;
}





#HaveTrophy1,#HaveTrophy2,#HaveTrophy3,#HaveTrophy4,#HaveTrophy5,#HaveTrophy6,#HaveTrophy7,#HaveTrophy8,#HaveTrophy9,#HaveTrophy10
{
  display: none;

}

.TrophyEarned
{
  width:50%;
  border: 1px solid black;
  display: inline-block;

}

.TrophyEarned:hover
{

  border: 3px solid black;
  background-color: #ffe218;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition:all 0.3s ease;

}

.TrophyEarned img
{
  width: 120px;
  height:120px;
  display:inline;
  margin-left: -10.5vw;
  margin-right: 2vw;

}

.TrophyEarned p
{
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 2.5vh;
  color: #030303;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  display: inline-block;
  border: 2px solid black;
  padding: 1vh;


}

.TrophyNotEarned
{
  width:50%;
  border: 1px solid black;
  display: inline-block;
  background-color: #555555; /* Google Chrome, Safari 6+ & Opera 15+ */
}

.TrophyNotEarned:hover
{
  width:50%;
  border: 1px solid black;
  display: inline-block;
  background-color: #ff485e; /* Google Chrome, Safari 6+ & Opera 15+ */
}




.TrophyNotEarned img
{
  width: 120px;
  height:120px;
  display:inline;
  margin-left: -10.5vw;
  margin-right: 2vw;
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */

}


.TrophyNotEarned p
{
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 2.5vh;
  color: #030303;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  display: inline-block;
  padding: 2vh;


}

ul{
  list-style-type: none;
  margin-left: -40px;
}




#button1{
  width: 300px;
  height: 40px;
}
#button2{
  width: 300px;
  height: 40px;
}



#user_img
{

  height: 25vh;
  width: 20vw;
  border-radius:  50%;
  border:2px solid black;
  margin-bottom: 2vh;
  margin-top: 2vh;
}


#bis_img
{

  height: 25vh;
  width: 20vw;
  border-radius:  50%;
  border:2px solid black;
  margin-bottom: 2vh;
  margin-top: 2vh;
}
#recycle_image
{

  height: 22vh;
  width: 22vw;
  margin-top: 4vh;
  margin-left: 10vw;
}


#heartPath{
  height: 200vh;
}

#Signup_container{
  display: none;
}



.SignUprow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  margin: 5vw;


}

.SignUpColumn {
  display: flex;
  flex-direction: column;
  flex: 0 48%;
  border: 5px solid black;
  margin-bottom: 2%; /* (100-32*3)/2 */
  height: 30vh;
  transition:all 0.3s ease;
}

.SignUpColumn:hover {
  display: flex;
  flex-direction: column;
  flex: 0 48%;
  margin-bottom: 2%; /* (100-32*3)/2 */
  height: 30vh;
  background-color: #f9d217;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition:all 0.3s ease;


}


.SignUprow2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 5vw;
  align-items: center;
  justify-content: center;


}

.SignUpColumn2 {
  display: flex;
  flex-direction: column;
  flex: 0 50%;
  margin-bottom: 2%; /* (100-32*3)/2 */
  height: 50vh;
  transition:all 0.3s ease;
}


.card-block{
  display: none;
}

/* The popup form - hidden by default */
.type_of_user-popup {
  display: none;
  width: 100%;
  background-color: #1a1a1a;
}




textarea {
  width: 50vw;
  height: 15vh;
}

label{
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 3vh;
  color: #030303;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;


}


/* Set a style for the submit/login button */
#Signup_container button {
  height:50px;
  width :15vw;
  border:2px solid #030303;
  background-color:#26b734;;
  color: #f6fffc;
  cursor:pointer;
  transition:all .3s;
  text-align: center;
  margin-bottom: 3vh;
  margin-top: 1vh;
  margin-left: 14vw;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 2.5vh;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

#Signup_container button:hover {
  background-color: #cb83c2;
  border: 3px solid #cb83c2;

}


/* Add some hover effects to buttons */
#Signup_container .btn:hover {
  opacity: 1;
}

#Signup_container input[type=text], #Signup_container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
#Signup_container input[type=text]:focus, #Signup_container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: table;
  width: 40%;

}


.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

#ifBusiness, #ifUser { display: none;}
#yesBusiness:checked ~ #ifBusiness {display: block;}
#yesUser:checked ~ #ifUser{display: block;}




