.userImg {
  border-radius: 100px;
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}


.graph {
  display: grid;
  grid: repeat(10, auto) max-content / max-content repeat(5, auto);
  height: 100%;
}
/* graph bars */
.graphBar {
  grid-row: 1 / -2;
  border-radius: 0 0 50% 50% / 0 0 10px 10px;
  background: #ffffff
  linear-gradient(to top, #3fb52e var(--h), transparent var(--h));
  justify-self: center;
  width: 45px;
  height: 100%;
  box-shadow: 0 0 3px lightgrey;
}
.graphBar:nth-of-type(1) {
  grid-column: 2;
  --h: 10%;
}
.graphBar:nth-of-type(2) {
  grid-column: 3;
  --h: 30%;
}
.graphBar:nth-of-type(3) {
  grid-column: 4;
  --h: 50%;
}
.graphBar:nth-of-type(4) {
  grid-column: 5;
  --h: 70%;
}
.graphBar:nth-of-type(5) {
  grid-column: 6;
  --h: 90%;
}
/* graph bar edges */
.graphBar::before,
.graphBar::after {
  display: block;
  content: "";
  height: 20px;
  border-radius: 50% / 10px;
}
.graphBar::before {
  margin-top: -10px;
  background-color: #ffffff;
  border: 2px solid #D3D3D3;
}
.graphBar::after {
  background-color: #D3D3D3;
  border: 1px solid #000000;
  position: relative;
  top: calc(100% - var(--h) - 20px);
}
/* graph  labels */
.graphRowLabel {
  margin-top: -0.5em;
}
.graphColumnLabel {
  justify-self: center;
  margin-top: 6px;
  text-shadow: 0 0 2px palegoldenrod;
  font-size: 14pt;
}
.graphRowLabel::after {
  display: inline-block;
  content: "\2000\2000\2014";
}
.graphRowLabel:nth-of-type(1)::after {
  content: "\2000\2014";
}
body {
  font-family: "crimson text", serif;
  background: linear-gradient(to top right, dodgerblue, deepskyblue);
  color: cornsilk;
  height: 100vh;
  font-weight: bold;
  overflow: hidden;
  text-shadow: 0 0 1px grey;
}
figure {
  width: 98vw;
  max-width: 600px;
  height: 420px;
  margin: 60px auto auto auto;
}
figcaption {
  text-align: center;
  margin-top: 30px;
}
h1 {
  text-align: center;
  margin-bottom: 0;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 30px;
  letter-spacing: -0.6px;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
  padding-top: 10px;
}


/* The popup form - hidden by default */
.type_of_user-popup {
  display: none;
  width: 40%;

}



/* Add styles to the form container */
.TypeUserForm-container {
  width: 440px;
  height: 740px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 340px) auto;
  margin-left: 500px;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  autocomplete: "off";

}

/* Set a style for the submit/login button */
.TypeUserForm-container .btn {
  background-color: #000000;
  color: white;
  padding: 16px 20px;
  border: 4px solid black;
  cursor: pointer;
  width: 40%;
  opacity: 0.8;
  display: inline-block;
  margin-left:  25px;
  margin-top: 10px;
}


/* Add some hover effects to buttons */
.TypeUserForm-container .btn:hover {
  opacity: 1;
}

.TypeUserForm-container input[type=text], .TypeUserForm-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.TypeUserForm-container input[type=text]:focus, .TypeUserForm-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}














/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: table;
  width: 40%;

}

/* Add styles to the form container */
.form-container {
  width:440px;
  height:740px;
  background:#e6e6e6;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;font-family:'Montserrat',sans-serif;
  position:relative;
  autocomplete:"off";}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

#ifBusiness, #ifUser { display: none;}
#yesBusiness:checked ~ #ifBusiness {display: block;}
#yesUser:checked ~ #ifUser{display: block;}
