


<!---<button class="open-button" (click)="openForm()">Open Form</button>--->


<div class="type_of_user-popup" id="TypeUserForm">
  <form class="TypeUserForm-container">
    <h1>Are you a Business or a General User ? </h1>
    Business<input type="radio" name="yesno" id="yesBusiness">
    User<input type="radio" name="yesno" id="yesUser">
    <br>
    <div id="ifBusiness">

        <label id="name"><b>Name of your Business</b></label>
        <input type="text" placeholder="Enter Name of Business" (keyup)="updateName($event)" autocomplete="off" name="name" required>

        <label id="business type"><b>Type of Business</b></label>
        <input type="text" placeholder="Enter Type of Business" (keyup)="updateType($event)" autocomplete="off" name="Business_type" required>

        <label id="Address"><b>Business Address</b></label>
        <input id ="Business_Address" type="text" placeholder="Enter The Address of your Business" (keyup)="updateAddress($event)" autocomplete="off" name="Address" required>

      <label id="Desc"><b>Please describe your Business</b></label>
      <textarea type='text' id='description' (keyup)="updateDescription($event)" autocomplete="off"name='description' required></textarea><br>

      <div class="card-block" id="Business_geometry"></div>
    </div>

    <div id="ifUser">
      <label id="u_Address"><b>Your Address</b></label>
      <input id ="User_Address"type="text" placeholder="Enter Your Address" (keyup)="updateUserAddress($event)" autocomplete="off" name="Food_type" required>
      <div class="card-block" id="User_geometry"></div>
    </div>

  </form>
  <div class="container mt-5" *ngIf="auth.userProfile$ | async as profile">
  <button (click)="SavePerson(profile.sub,profile.email,profile.name,profile.address)">Save</button>
  </div>
</div>


<!--<h1>How Many Meals Have You Saved ?</h1>
<figure aria-hidden="true">
  <div class="graph">
    <span class="graphRowLabel">10</span>
    <span class="graphRowLabel">9</span>
    <span class="graphRowLabel">8</span>
    <span class="graphRowLabel">7</span>
    <span class="graphRowLabel">6</span>
    <span class="graphRowLabel">5</span>
    <span class="graphRowLabel">4</span>
    <span class="graphRowLabel">3</span>
    <span class="graphRowLabel">2</span>
    <span class="graphRowLabel">1</span>
    <div class="graphBar"></div>
    <div class="graphBar"></div>
    <div class="graphBar"></div>
    <div class="graphBar"></div>
    <div class="graphBar"></div>
    <span><sup>Y </sup>&frasl;<sub> X</sub></span>
    <span class="graphColumnLabel">January</span>
    <span class="graphColumnLabel">Febuary</span>
    <span class="graphColumnLabel">March️</span>
    <span class="graphColumnLabel">April</span>
    <span class="graphColumnLabel">May</span>
  </div>

</figure>
-->

<div *ngIf="user">
<div class="container" *ngIf="auth.userProfile$ | async as profile">
  <div class="left">
    <div>
      <img id="user_img"  [src]="profile.picture" alt="your image">
      <p id="user_name">{{profile.name}}<p>
      <p>Your Address : {{user.user_address}}</p>

       <p id="user_footprint">Your Footprint : {{user.user_footprint}}</p>
      <p>Your Level: {{user.user_level}}</p>
    </div>
  </div>
  <div class="right">
    <div>
      <div id="test">
        <button (click)=FootprintAnimate()>Show Footprint</button>
        <svg  x="0px" y="0px" viewBox="0 0 130 180" >
          <defs>
            <mask id="heart">
              <path fill=white d="M45.571,14.429c-3.786-0.608-7.433,1.317-9.964,4.756c-1.228-0.877-2.638-1.449-4.216-1.535
    l-0.422-0.011c-2.888,0-5.426,1.607-7.154,4.151c-0.691-0.265-1.414-0.462-2.183-0.508l-0.39-0.011
    c-3.192,0-5.923,2.069-7.433,5.2c-3.178,0.361-5.633,2.87-6.46,6.281c-0.827,0.401-1.585,0.97-2.219,1.7
    c-1.446,1.668-2.172,4.041-1.997,6.514c0.132,1.857,0.773,3.504,1.729,4.821c-6.242,10.697,0.991,27.178,5.472,37.36
    c1.349,2.996,2.033,6.431,2.162,10.826c0.336,11.477,6.431,18.327,16.302,18.327c1.632,0,3.389-0.193,5.222-0.576
    c6.531-1.36,10.765-5.146,12.587-11.263c3.189-10.708-4.967-20.564-8.038-24.275c-0.301-0.365-0.544-0.651-0.694-0.855
    c-2.079-2.87-1.614-7.44,1.045-10.185c0.744-0.769,1.678-1.542,2.652-2.369c4.338-3.668,10.89-9.216,9.326-18.195
    c-0.276-1.596-0.927-3.046-1.832-4.355c2.498-2.255,4.381-5.694,5.039-9.817c0.544-3.357,0.211-6.728-0.941-9.495
    C51.669,17.328,48.906,14.966,45.571,14.429z M31.101,23.011c2.137,0.118,3.715,3.013,3.525,6.467
    c-0.19,3.457-2.072,6.159-4.209,6.041c-2.137-0.115-3.711-3.01-3.522-6.467C27.086,25.602,28.965,22.897,31.101,23.011z
    M21.342,26.644c1.729,0.097,3.013,2.444,2.86,5.247c-0.15,2.806-1.682,5-3.411,4.907c-1.736-0.093-3.017-2.444-2.863-5.247
    C18.082,28.748,19.613,26.551,21.342,26.644z M14.467,31.772c1.281-0.089,2.437,1.514,2.584,3.59
    c0.147,2.069-0.773,3.822-2.051,3.915c-1.281,0.093-2.437-1.514-2.588-3.59C12.266,33.619,13.186,31.865,14.467,31.772z
    M10.126,37.456c1.02-0.072,1.947,1.21,2.061,2.863c0.118,1.653-0.619,3.056-1.639,3.128s-1.943-1.21-2.061-2.867
    C8.365,38.93,9.102,37.527,10.126,37.456z M35.052,61.416c-4.445,4.592-5.2,12.011-1.532,17.071
    c1.525,2.101,10.647,11.331,7.934,20.446c-1.378,4.624-4.481,6.696-8.536,7.541c-13.496,2.806-14.924-7.902-15.063-12.655
    c-0.125-4.459-0.791-8.79-2.627-12.873c-4.509-10.243-11.338-26.29-4.635-34.024c9.885-11.406,33.412-10.611,35.008-1.417
    C46.938,53.16,38.896,57.443,35.052,61.416z M48.802,29.55c-0.791,4.932-3.908,8.536-6.954,8.045
    c-3.046-0.49-4.874-4.889-4.083-9.82c0.795-4.932,3.908-8.532,6.954-8.045C47.768,20.22,49.6,24.618,48.802,29.55z"/>
            </mask>
          </defs>
          <rect id=heartRect x=0 y="100%"  fill=#03f000 width="100%" height="100%"  mask="url(#heart)" />
          <path id=heartPath stroke="black" fill=none stroke-width=3 d="M45.571,14.429c-3.786-0.608-7.433,1.317-9.964,4.756c-1.228-0.877-2.638-1.449-4.216-1.535
    l-0.422-0.011c-2.888,0-5.426,1.607-7.154,4.151c-0.691-0.265-1.414-0.462-2.183-0.508l-0.39-0.011
    c-3.192,0-5.923,2.069-7.433,5.2c-3.178,0.361-5.633,2.87-6.46,6.281c-0.827,0.401-1.585,0.97-2.219,1.7
    c-1.446,1.668-2.172,4.041-1.997,6.514c0.132,1.857,0.773,3.504,1.729,4.821c-6.242,10.697,0.991,27.178,5.472,37.36
    c1.349,2.996,2.033,6.431,2.162,10.826c0.336,11.477,6.431,18.327,16.302,18.327c1.632,0,3.389-0.193,5.222-0.576
    c6.531-1.36,10.765-5.146,12.587-11.263c3.189-10.708-4.967-20.564-8.038-24.275c-0.301-0.365-0.544-0.651-0.694-0.855
    c-2.079-2.87-1.614-7.44,1.045-10.185c0.744-0.769,1.678-1.542,2.652-2.369c4.338-3.668,10.89-9.216,9.326-18.195
    c-0.276-1.596-0.927-3.046-1.832-4.355c2.498-2.255,4.381-5.694,5.039-9.817c0.544-3.357,0.211-6.728-0.941-9.495
    C51.669,17.328,48.906,14.966,45.571,14.429z M31.101,23.011c2.137,0.118,3.715,3.013,3.525,6.467
    c-0.19,3.457-2.072,6.159-4.209,6.041c-2.137-0.115-3.711-3.01-3.522-6.467C27.086,25.602,28.965,22.897,31.101,23.011z
    M21.342,26.644c1.729,0.097,3.013,2.444,2.86,5.247c-0.15,2.806-1.682,5-3.411,4.907c-1.736-0.093-3.017-2.444-2.863-5.247
    C18.082,28.748,19.613,26.551,21.342,26.644z M14.467,31.772c1.281-0.089,2.437,1.514,2.584,3.59
    c0.147,2.069-0.773,3.822-2.051,3.915c-1.281,0.093-2.437-1.514-2.588-3.59C12.266,33.619,13.186,31.865,14.467,31.772z
    M10.126,37.456c1.02-0.072,1.947,1.21,2.061,2.863c0.118,1.653-0.619,3.056-1.639,3.128s-1.943-1.21-2.061-2.867
    C8.365,38.93,9.102,37.527,10.126,37.456z M35.052,61.416c-4.445,4.592-5.2,12.011-1.532,17.071
    c1.525,2.101,10.647,11.331,7.934,20.446c-1.378,4.624-4.481,6.696-8.536,7.541c-13.496,2.806-14.924-7.902-15.063-12.655
    c-0.125-4.459-0.791-8.79-2.627-12.873c-4.509-10.243-11.338-26.29-4.635-34.024c9.885-11.406,33.412-10.611,35.008-1.417
    C46.938,53.16,38.896,57.443,35.052,61.416z M48.802,29.55c-0.791,4.932-3.908,8.536-6.954,8.045
    c-3.046-0.49-4.874-4.889-4.083-9.82c0.795-4.932,3.908-8.532,6.954-8.045C47.768,20.22,49.6,24.618,48.802,29.55z"/>
        </svg>

      </div>

    </div>


  </div>
</div>
</div>

<h1>Your Trophies</h1>

<button (click)=getTrophies()>Show Footprint</button>
<ul>
  <li id="HaveTrophy1" class="TrophyEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
     <p>HaveTrophy1</p>
  </li>

  <li id="HaveTrophy2" class="TrophyEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>HaveTrophy2</p>
  </li>

  <li id="HaveTrophy3" class="TrophyEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>HaveTrophy3</p>
  </li>

  <li id="HaveTrophy4" class="TrophyEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>HaveTrophy4</p>
  </li>

  <li id="HaveTrophy5" class="TrophyEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>HaveTrophy5</p>
  </li>

  <li id="HaveTrophy6" class="TrophyEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>HaveTrophy6</p>
  </li>

  <li id="HaveTrophy7" class="TrophyEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>HaveTrophy7</p>
  </li>

  <li id="HaveTrophy8" class="TrophyEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>HaveTrophy8</p>
  </li>

  <li id="HaveTrophy9" class="TrophyEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>HaveTrophy9</p>
  </li>

  <li id="HaveTrophy10" class="TrophyEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>HaveTrophy10</p>
  </li>


  <li id="NoTrophy1" class="TrophyNotEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>NoTrophy1</p>
  </li>

  <li id="NoTrophy2" class="TrophyNotEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>NoTrophy2</p>
  </li>

  <li id="NoTrophy3" class="TrophyNotEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>NoTrophy3</p>
  </li>

  <li id="NoTrophy4" class="TrophyNotEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>NoTrophy4</p>
  </li>

  <li id="NoTrophy5" class="TrophyNotEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>NoTrophy5</p>
  </li>

  <li id="NoTrophy6" class="TrophyNotEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>NoTrophy6</p>
  </li>

  <li id="NoTrophy7" class="TrophyNotEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>NoTrophy7</p>
  </li>

  <li id="NoTrophy8" class="TrophyNotEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>NoTrophy8</p>
  </li>

  <li id="NoTrophy9" class="TrophyNotEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>NoTrophy9</p>
  </li>

  <li id="NoTrophy10" class="TrophyNotEarned">
    <img class="trophy_image"  src="../../../assets/Trophy.jpg" alt="your image">
    <p>NoTrophy10</p>

  </li>
</ul>





