
<body>


<button id="myBtn" (click)="btnfunction()">Add Ingredient to our Database</button>


<div id="myModal" class="modal">


  <div class="modal-content">
    <div class="modal-header">
      <h2>Add an Ingredient to Our Database</h2>
      <span class="close" (click)="spanfunction()">&times;</span>
    </div>
    <div class="modal-body">
      <div id = "foodname">
      <p>What is the name of the Ingredient ?</p>
      <input id="post-title" (keyup)="updateFoodname($event)" autocomplete="off">
      </div>
      <p>
        Please Select an Ingredient Type
      </p>

<label>
      <input (click)="updateFoodGroup($event)" type="radio" name="type" value="Meat">Meat
</label>
      <label>
      <input (click)="updateFoodGroup($event)" type="radio" name="type" value="Fish">Fish
      </label>
        <label>
      <input (click)="updateFoodGroup($event)" type="radio" name="type" value="Starch">Starch
        </label>
          <label>
      <input (click)="updateFoodGroup($event)"  type="radio" name="type" value="Dairy">Dairy
          </label>
            <label>
      <input (click)="updateFoodGroup($event)"  type="radio" name="type" value="Fruit">Fruit
            </label>
              <label>
      <input (click)="updateFoodGroup($event)" type="radio" name="type" value="Vegetable">Vegetable
              </label>
                <label>
      <input (click)="updateFoodGroup($event)" type="radio" name="type" value="Nuts">Nuts
                </label>
                  <label>
      <input (click)="updateFoodGroup($event)" type="radio" name="type" value="Seasoning">Seasoning
                  </label>


      <button id="add_button" type="button" (click)="SaveFood()">
        Add Ingredient
      </button>

      <br>

      <div id="result"></div>

    </div>
    </div>
  </div>



</body>





<!--<body>

<button id="myBtn" (click)="btnfunction()">Add Ingredient to our Database</button>


<div id="myModal" class="modal">


  <div class="modal-content">
    <div class="modal-header">
      <h2>Modal Header</h2>
      <span class="close" (click)="spanfunction()">&times;</span>
    </div>
    <div class="modal-body">
      <label for="post-title">What Food Are you Saving ?</label>
      <input id="post-title" (keyup)="updateFoodname($event)" autocomplete="off">

      <p>
        Please Select a Food Type
      </p>


      <input (click)="updateFoodGroup($event)" type="radio" name="type" value="Meat">Meat
      <input (click)="updateFoodGroup($event)" type="radio" name="type" value="Fish">Fish
      <input (click)="updateFoodGroup($event)" type="radio" name="type" value="Starch">Starch
      <input (click)="updateFoodGroup($event)"  type="radio" name="type" value="Dairy">Dairy
      <input (click)="updateFoodGroup($event)"  type="radio" name="type" value="Fruit">Fruit
      <input (click)="updateFoodGroup($event)" type="radio" name="type" value="Vegetable">Vegetable
      <input (click)="updateFoodGroup($event)" type="radio" name="type" value="Nuts">Nuts
      <input (click)="updateFoodGroup($event)" type="radio" name="type" value="Seasoning">Seasoning

      <br>

      <button type="button" (click)="SaveFood()">
        Add Food
      </button>

      <br>

      <div id="result"></div>

    </div>
    </div>
  </div>



</body>-->

