

<br><br>
<div id="container">

  <div class='row'>
    <div class='column' (click)="BusinessbtnClick()">
      <div class="heading">
        <p>View Business Leaderboards</p>
      </div>
      <img id="business_image"  src="../../../assets/business.svg" />
    </div>


    <div class='column' (click)="UserbtnClick()">
      <div class="heading">
        <p>View User Leaderboards</p>
      </div>
      <img id="user_image" src="../../../assets/user.svg" />
    </div>
  </div>

</div>



<div class='row2'>
  <div class='column2'>
<table id="Business_leaderboard">
  <thead>
  <tr>
    <th class="Ranking" >Ranking</th>
    <th class="name" >Business</th>
    <th class="score">Green Score</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>




<table id="User_leaderboard">
  <thead>
  <tr>
    <th class="Ranking" >Ranking</th>
    <th class="name" >User</th>
    <th class="score">Green Score</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>


</div>
