
<html>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4 col-xl-3">
    <div id="Section1" class="col-lg-2 col-md-2 col-sm-1">
        <img id= "earth" src="../../../assets/Food-Dump.png" alt="Food waste picture">
        <p>It's Time to End Food Waste </p>
    </div>
    </div>
  </div>
</div>
    <div class="How_Work">
        <p>So how does it work ? </p>
    </div>

    <div class="Section2">
        <span id="left2"> <img src="../../../assets/taking_pic.jpg" alt="Food waste picture">
        </span>
        <span id="right2">
          <h3>Restaurant/Cafe : Makes a Post </h3>

                <ol class="list-numbered2">
                    <li>
                        <h6> A Business has unsold food at the end of the day</h6>
                        <p>Instead of throwing this waste in the bin, it could be eaten by one of our users</p>
                    </li>

                    <li>
                        <h6>Business Posts on our Platform</h6>
                        <p>The business takes a picture of the food, adds a short description and posts on our platform</p>
                    </li>

                    <li>
                        <h6>Business gets notified if a user is coming to collect their food</h6>
                        <p>Users view posts, if they want to food detailed, they can notify the business that they are coming to collect the food</p>
                    </li>
                </ol>
            </span>
    </div>

<div class="Section3">
  <span id="left3">
    <h3>Users : View Available Food </h3>

    <ol class="list-numbered3">
      <li>
        <h6>Users view posts</h6>
        <p>Users can search for food based on location, they can then view all the posts that have been made in that area</p>
      </li>

      <li>
        <h6>Indicate Interest in the food</h6>
        <p>If a user wants the food described in a post, they can let the business know that they are on the way to collect it</p>
      </li>

      <li>
        <h6>Users arrives to collect the food</h6>
        <p>The process is complete, the user has some cheap fresh food and the business has reduced their waste</p>
      </li>
    </ol>


  </span>
  <span id="right3">
      <img src="../../../assets/user_searching.jpg" alt="Food waste picture">
  </span>
</div>



</html>
