
<div class='some-page-wrapper'>

  <div class='row1'>
    <div class='column1'>
      <div class='head-column'>
        <p>It's Time To End Foodwaste<p>
      </div>
    </div>
  </div>



  <div class='rowhow'>
    <div class='colhow'>
        <p>So how does Food For Thought work ? </p>
    </div>
  </div>




  <div class='row2'>
    <div class='column2'>
      <img class='UserPicture' src="../../../assets/taking_pic.jpg" alt="Food waste picture">
    </div>
    <div class='column2'>
      <h3>Restaurant/Cafe : Makes a Post </h3>

      <ol class="list-numbered2">
        <li>
          <h6> A Business has unsold food at the end of the day</h6>
          <p>Instead of throwing this waste in the bin, it could be eaten by one of our users</p>
        </li>

        <li>
          <h6>Business Posts on our Platform</h6>
          <p>The business takes a picture of the food, adds a short description and posts on our platform</p>
        </li>

        <li>
          <h6>Business gets notified if a user is coming to collect their food</h6>
          <p>Users view posts, if they want to food detailed, they can notify the business that they are coming to collect the food</p>
        </li>

        <li>
          <h6>Business levels up and earns trophies</h6>
          <p>As a business creates more and more posts, they will level up and earn cool trophies</p>
        </li>
      </ol>
    </div>
  </div>



  <div class='row3'>
    <div class='column2'>
      <h3>Users : View Available Food </h3>

      <ol class="list-numbered3">
        <li>
          <h6>Users view posts</h6>
          <p>Users can search for food based on location, they can then view all the posts that have been made in that area</p>
        </li>

        <li>
          <h6>Indicate Interest in the food</h6>
          <p>If a user wants the food described in a post, they can let the business know that they are on the way to collect it</p>
        </li>

        <li>
          <h6>Users arrives to collect the food</h6>
          <p>The process is complete, the user has some cheap fresh food and the business has reduced their waste</p>
        </li>

        <li>
          <h6>User levels up and earns trophies</h6>
          <p>As a user collects more and more food, they will level up and earn cool trophies</p>
        </li>
      </ol>
    </div>
    <div class='column2'>
      <img  class='UserPicture' src="../../../assets/user_searching.jpg" alt="Food waste picture">
    </div>
  </div>

</div>
