

  <div style="text-align:center">
  </div>
  <button routerLink="/makepost">Add a new Post</button>
  <H1>Here are the posts in your area</H1>

  <div class="container" *ngIf="auth.auth0Client$ | async">
      <div class="container2" *ngFor="let post of postsList">
        <img src="../../../assets/food_placeholder.png" alt="Food waste picture">
        <div id = "title"> <H2>{{post.title}}</H2> </div>
        <div id = "description"><H3> -- {{post.description}}</H3></div>

      </div>


</div>
