
<div class='container'>

   <div id="return_button">
    <button (click)="goBack()">Return To Feed</button>
   </div>



  <div class='row' >
    <div class='column1' *ngIf="post">
      <div class="heading1">
        <p> Post Details </p>
      </div>
      <div id="post_picture" ><img [src]="post.picture" alt="your image"></div>
      <div id = "title"> <H2>{{post.title}}</H2> </div>
      <div class = "description" > <p> -- {{post.description}}</div>
      <div class = "cf" > <p> Carbon Footprint of Food : {{post.carbon_footprint}}</div>
      <div class = "portion" > <p> Portions : {{post.portion}}</div>
      <div class = "price" > <p> Price € {{post.price}}</div>
      <div class = "time" > <p> Collect at : {{post.collection_time}}</div>

      <div id="order"*ngIf="user">
        <button (click)=update(user.user_id,post.carbon_footprint,post.id)>Click to Reserve Food</button>
        </div>
    </div>




    <div class='column2'>
      <div class="heading2">
        <p> Ingredients </p>
      </div>

      <table id = "Chosen_InIngredients">
        <thead>
        <tr>
          <th>Food</th>
          <th>Carbon Footprint</th>
        </tr>
        </thead>
        <tbody>

        </tbody>

      </table>

      <div class="heading2">
        <p> Business Details </p>
      </div>
      <div *ngIf="business">
      <div class= "business_detail"  > <p> Name : {{business.business_name}}</div>
      <div class= "business_desc"  > <p> About : {{business.business_description}}</div>
      <div class = "business_desc"  > <p> Location :{{business.business_address}}</p></div>
        <div class = "business_detail"  > <p> Carbon Footprint Score : {{business.business_footprint}}</p></div>
        <div class = "business_detail"  > <p> Level:{{business.business_level}}</p></div>
    </div>




        <div #mapWrapper id="map"></div>=
    </div>
  </div>
</div>

<p id="demo"></p>



<!--
<button (click)="goBack()">Return To Feed</button>
<div id="post_details" style="text-align:center">
<div *ngIf="post">
    <div id="blah">
      <img id="pic"  [src]="post.picture" alt="your image">
    </div>

    <div id = "title"> <H2>{{post.title}}</H2> </div>
    <div class = "description" > <p> -- {{post.description}}</div>
    <div class = "ingredients"> <p>{{post.ingredients}}</p> </div>
    <div class = "cf" > <p> -- {{post.carbon_footprint}}</div>
    <div class = "portion" > <p> Portion: {{post.portion}}</div>
    <div class = "price" > <p> Price € {{post.price}}</div>
    <div class = "time" > <p> Collect at: {{post.collection_time}}</div>


  <div *ngIf="business">
    <div id= "business_name"  > <p> -- {{business.business_name}}</div>
    <div id= "business_type"  > <p> -- {{business.business_type}}</div>
    <div id= "business_description"  > <p> -- {{business.business_description}}</div>
    <div id = "business_coordinates"  > <p> {{business.business_coordinates}}</p></div>
</div>

</div>


  <div *ngIf="user">
    <div id= "user_name"  > <p> -- {{user.user_name}}</div>
  <button (click)=update(user.user_id,post.carbon_footprint,post.id)>I Want The Food</button>
    <div>
</div>



  <div class="main">
    <div #mapWrapper id="map"></div>
    <p id="demo"></p>
  </div>

  </div>
</div>

-->


