
<!--<h1>hello</h1>
<div *ngIf="post">

  <h2>{{post.title | uppercase}} Details</h2>
  <div><span>id: </span>{{post.title}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="post.title" placeholder="name"/>
    </label>
  </div>

</div>

<button (click)="goBack()">go back</button>-->

<div id="post_details" style="text-align:center">
<div *ngIf="post">
    <div id="blah">
      <img id="pic"  [src]="post.picture" alt="your image">
    </div>

    <div id = "title"> <H2>{{post.title}}</H2> </div>
    <div class = "description" > <p> -- {{post.description}}</div>
    <div class = "ingredients"> <p>{{post.ingredients}}</p> </div>
    <div class = "cf" > <p> -- {{post.carbon_footprint}}</div>
  </div>

  <div *ngIf="business">
    <div id= "business_name"  > <p> -- {{business.business_name}}</div>
    <div id= "business_type"  > <p> -- {{business.business_type}}</div>
    <div id= "business_description"  > <p> -- {{business.business_description}}</div>
    <div id = "business_coordinates"  > <p> {{business.business_coordinates}}</p></div>
</div>



<button (click)="goBack()">Return To Feed</button>
</div>

<div class="main">
  <div #mapWrapper id="map"></div>
</div>
