


<div class='conatainer'>

  <div class='row'>
    <div class='column'>
      <div class='headings'>
        <p>Step 1 : Enter Meal Details<p>
      </div>

      <div class="post_questions">
        <p class="item">What Food Are you Saving ?</p>
        <input class="post_input" id="post-title" value={{post.title}} autocomplete="off">
      </div>



      <div class="post_questions">
        <p  class="item" >Describe the Food</p>
        <input class="post_input" id="post-description" value={{post.description}} autocomplete="off">
      </div>

      <div class="post_questions">
        <p  class="item" >Portions Being Saved</p>
        <input class="post_input" id="post-portion" value={{post.portion}} autocomplete="off">
      </div>

      <div class="post_questions">
        <p  class="item" >Price of Food </p>
        <input class="post_input" id="post-price" value={{post.price}}  autocomplete="off">
      </div>

      <div class="post_questions">
        <p  class="item"  for="post-time">Time of Collection</p>
        <input class="post_input" id="post-time" value={{post.collection_time}} autocomplete="off">
      </div>

      <div class="post_questions">
          <img id="pic2"  [src]="post.picture" alt="your image">
      </div>



    </div>


    <div class='column'>
      <div class='headings'>
        <p>Step 2 : Choose Ingredients<p>
      </div>



      <div class="post_ingredients">
        <p>Please Choose the Ingredients in your Food </p>
      </div>

      <div class="post_ingredients">
        <p>Search Ingredient</p>
        <input id="Ingredients" name="Ingredients" [(ngModel)]="ingredientSearch" autocomplete="off">
      </div>

      <div id="hello" *ngIf="getIngredientSearch() | async as ingredients">
        <ul id="option">
          <div id = "list" *ngFor="let ingredient of ingredients">
            <li (click)="InsertIngredient(ingredient.food_name, ingredient.food_cf)">{{ ingredient.food_name }} </li>
          </div>
        </ul>
      </div>




    </div>

    <div class='column'>
      <div class='headings'>
        <p>Step 3 : View Meal Carbon Footprint<p>
      </div>

      <table id = "Ingredient_headings">
        <tr>
          <th>Food</th>
          <th>Carbon Footprint</th>
        </tr>
      </table>

      <div id = "height_control" >
        <table id = "Chosen_InIngredients">
          <tr>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>

      <div id="footprint">
        <p>Carbon Footprint of Meal</p>
      <span id="val">
        </span>
      </div>
      <rg-gauge-chart
        [canvasWidth]="canvasWidth"
        [needleValue]="needleValue"
        [centralLabel]="centralLabel"
        [options]="options"
        [name]="name"
      ></rg-gauge-chart>
    </div>

    <div id="make_post"*ngIf="auth.userProfile$ | async as profile">
      <button (click)="SavePost(profile.sub)">Make Post</button>
    </div>

    <p id = base64></p>
  </div>

</div>
